.timeBar {
    height: 34px;
    background-color: #212121;
}

.timeBarSpikes {
    height: 50%;
}

.timeBarNumbers {
    height: 50%;
}

.compositionPanel {
    height: calc(100vh - 134px);
    background-color: #616161;
}

.trackCompositionRow {
    height: 50px;
    background-color: #9E9E9E;
    overflow: hidden;
    border-style: solid;
    border-top-width: thin;
    border-bottom-width: thin;
    border-color: #212121;
}

.trackCompositionBit {
    height: 50px;
    width: 25px;
    border-style: solid;
    border-right-width: thin;
    border-color: #212121;
    display: inline-block;
}

.keyRow {
    height: 20px;
    overflow: hidden;
    border-style: solid;
    border-bottom-width: thin;
    border-color: #212121;
}

.keyRow.white {
    background-color: #9E9E9E;
}

.keyRow.black {
    background-color: #616161;
}

.quarterNote {
    height: 20px;
    border-style: solid;
    border-right-width: thick;
    border-color: #212121;
    display: inline-block;
}

.sixteenthNote {
    height: 20px;
    border-style: solid;
    border-right-width: thin;
    border-color: #212121;
    display: inline-block;
}

.sixteenthNote.active {
    background-color: greenyellow;
}