.timeBar {
    height: 34px;
    background-color: #212121;
}

.timeBarSpikes {
    height: 50%;
}

.timeBarNumbers {
    height: 50%;
}

.compositionPanel {
    height: calc(100vh - 134px);
    background-color: #3a3a3a;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
}

.trackCompositionRow {
    height: 50px;
    width: fit-content;    
    background-color: #9E9E9E;
    white-space: nowrap;
    border-style: solid;
    border-top-width: thin;
    border-bottom-width: thin;
    border-color: #212121;
}

.trackCompositionBit {
    height: 50px;
    width: 25px;
    border-style: solid;
    border-right-width: thin;
    border-color: #212121;
    display: inline-block;
}

.region {
    background-color: rebeccapurple;
}

.region.noRightBorder {
    background-color: rebeccapurple;
    border-right: 0;
}

.keyRow {
    width: fit-content;
    white-space: nowrap;
    height: 20px;
    border-style: solid;
    border-bottom-width: thin;
    border-color: #212121;
}

.keyRow.white {
    background-color: #9E9E9E;
}

.keyRow.black {
    background-color: #616161;
}

.quarterNote {
    height: 20px;
    border-style: solid;
    border-right-width: 1px;
    border-color: #212121;
    display: inline-block;
}

.sixteenthNote {
    height: 20px;
    width: 40px;
    border-style: solid;
    border-right-width: thin;
    border-color: #212121;
    display: inline-block;
}

.sixteenthNote.active {
    background-color: aquamarine;
}

.sixteenthNote.noRightBorder {
    border-right: 0;
}

.pianoRow {
    display: inline;
}

.bit {
    height: 20px;
    width: 644px;
    border-style: solid;
    border-right-width: thick;
    border-color: #212121;
    display: inline-block;
}
