.controlBar {
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(129, 129, 129);
    overflow: visible;
    display: flex;
    display: -webkit-flex;
}

.formControlBPM {
    display: inline-flex;
    margin-left: 0px;
    align-content: flex-start;
}

.formControlBitsInComposition {
    display: inline-flex;
    margin-left: 0px;
    align-content: flex-start;
}

.midiDeviceSelector {
    display: inline-flex;
    margin-left: 0px;
    align-content: flex-start;
}