.trackName {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.volumeSlider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 145px;
    padding: 0 5px;
}

.volumeSectionDiv{
    width: 100%;
    height: fit-content;
    margin-bottom: 60px;
}

.volumeMeterCanvas {
}

.pluginList{
    width: 100%;
    color: rgba(239, 248, 255, 0.801);
    background-color: rgb(60, 71, 75);    
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
}

#TrackDetailsCol {
    height: calc(100vh - 100px);

}
.soloMuteButtons{
    background-color: rgb(82, 97, 102);    
    position: absolute;
    bottom: 20px;
    border: 1px solid #212121;
    text-align: center;
    width: 100%;
    height: 37.5px;
}

.pluginRow {
    border-bottom: 1px solid #212121;
    background-color: rgb(74, 90, 94);    
    width: 100%;
    height: 30px;
    position: relative;
}
.pluginRowName {
    cursor: pointer;
    padding-top: 7px;
    text-align: center;
}
.pluginRowRemove {
    position: absolute;
    right: 2px;
    top: 7px;
}

.pluginRowRemove:hover {
    background-color: rgba(86, 105, 112, 0.74);    
}

.instrumentInputContainer{
    height: 60px;
    white-space: nowrap;
    width: 100%;
    padding: 0;
    margin-left: 0px;
    background-color: transparent;
    display: inline-flex;
}

.panKnob{
    height: 8px;
    width: 100%;
}
.panKnobDiv {
    background-color: rgb(82, 97, 102);    
    padding: 10px;
    margin: auto;
    height: 92px;
}

.instrumentModal{
    color: black;
}

.output {
    background-color: rgb(82, 97, 102);    
    display: inline-flex;
    margin-left: 0px;
    align-content: flex-start;
    width: 100%;
    height: 34px;
}

.addNewPluginButton {
    display: inline-flex;
    height: 34px;
    border-bottom: 2px solid #212121;
}

.instrumentDetailsInput {
    margin: auto;
    text-align: center;
    color: rgb(239, 248, 255);
    display: inline-flex;
    cursor: pointer;
}

.instrumentDetailsInput:hover {
    text-decoration: underline;
}

.trackDetailsContainer {
    display: flex;
    flex-flow: column;
    padding: 0;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #212121;
    overflow: hidden;
    background-color: rgb(82, 97, 102);
    height: 100%;
    height: -webkit-fill-available;
  }

  .volumeValue{
      color: white;
      text-align: center;
      background-color: rgb(48,48,48);
      margin-left: 4px;
      margin-right: 4px;
      border-style: solid;
    border-width: thin;
    border-color: #212121;
  }

  .outputSelectorDropDown {
    background: transparent;
    padding-bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    border-color: transparent;
    text-shadow: transparent;
    box-shadow: transparent;
    color: rgb(239, 248, 255);
}

.outputSelectorDropDown:focus {
    
    color: rgb(239, 248, 255);
}
.outputSelectorDropDown:hover {
    color: rgb(239, 248, 255);
}