.trackList {
    border-style: solid;
    border-width: thin;
    height: calc(100vh - 100px);
    overflow: hidden;
    z-index: 1;
    padding: 0px;
}

.trackListContent {
    height: calc(100vh - 134px);
    overflow: hidden;
}

.trackListButtons {
    height: 34px;
}

.trackRow {
    height: 60px;
    background-color: rgb(82, 97, 102);
    overflow-x: hidden;
    border-style: solid;
    border-bottom-width: thin;
    border-color: #212121;
}

.trackRow.selected {
    background-color: #607D8B;
}

.trackTypeSelectDiv {
    display: inline-flex;
    margin-left: 0px;
    align-content: flex-start;
    width: 270px;
}

.trackTypeItemDiv {
    width: 135px;
    height: 60px;
    font-size: 15px;
    border-style: solid;
    border-width: thin;
    border-color: #212121;

}